<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.js 3</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="app">
    <input type="radio" id="red" value="Red" v-model="color">
    <label for="red">Red</label>
    <input type="radio" id="green" value="Green" v-model="color">
    <label for="red">Green</label>
    <input type="radio" id="blue" value="Blue" v-model="color">
    <label for="red">Blue</label>
    <p>{{ color }}</p>
  </div>
  <script src="https://unpkg.com/vue@3.1.5"></script>
  <script src="js/main.js"></script>
</body>
</html>